/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
  margin: 0; font-family: 'Montserrat', sans-serif; font-size: 16px; line-height: 24px; display: block; background: #ffffff; color: #041230;
}
ul, li{list-style-type: none; padding: 0; margin: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
a{-webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
h1,h2,h3,h4,h5,h6,p{padding: 0; margin: 0;}
h1{font-size: 42px; line-height: 48px; text-transform: uppercase; font-weight: 700; /*font-family: 'Quicksand', sans-serif;*/ letter-spacing: 4px;}
h2{font-size: 36px; line-height: 42px; text-transform: uppercase; font-weight: 700; /*font-family: 'Quicksand', sans-serif;*/ letter-spacing: 3px;}
h3{font-size: 30px; line-height: 36px; text-transform: uppercase; font-weight: 700; /*font-family: 'Quicksand', sans-serif;*/ letter-spacing: 3px;}
h4{font-size: 24px; line-height: 30px; text-transform: uppercase; font-weight: 700; /*font-family: 'Quicksand', sans-serif;*/ letter-spacing: 2px;}
img{max-width: 100%; display: block; height: auto;}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.btn{position: relative; display: block; margin: 0;	padding: 0 10px; color: orange; font-size:14px; font-weight: bold; text-align: center; text-decoration: none; text-transform: uppercase;	overflow: hidden; letter-spacing: 3px; border-radius: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;	transition: all 1s ease; border: 2px solid orange; min-width: 180px; background: rgba(0,0,0,0); cursor: pointer; height: 48px; line-height: 44px;}
.btn:after{content: "";	position: absolute;	height: 0%;	left: 50%; top: 50%; width: 150%; z-index: 1; -webkit-transition: all 0.75s ease 0s; -moz-transition: all 0.75s ease 0s; -o-transition: all 0.75s ease 0s; transition: all 0.75s ease 0s; background: orange; -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg); -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg); transform: translateX(-50%) translateY(-50%) rotate(-25deg);}
.btn span{z-index: 2; position: relative;}
.btn:hover{color: #ffffff;}
.btn:hover:after{height: 450%;}

.wow{visibility: hidden;}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper{width: 100%; display: block; position: relative;}

.header{width: 300px; height: 100vh; position: fixed; left: 0; top: 0; background: #041230; padding: 0; z-index: 9;}
.logo-box{width: 100%; border-bottom: 1px solid #09296f; padding: 40px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center; -webkit-align-items: center; align-items: center; justify-content: center; justify-content: center;}
.logo{display: block; position: relative; max-width: 140px;}
.logo img{width: 100%; height: auto;}
.nav{padding: 40px 0; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center; -webkit-align-items: center; align-items: center; height: calc(100vh - 340px); -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
.nav .mainmenu{width: 100%; display: block;list-style-type: none; padding: 0; margin: 0;}
.nav .mainmenu li{width: 100%; display: block; border-bottom: 1px solid #09296f;}
.nav .mainmenu li:first-child{border-top: 1px solid #09296f;}
.nav .mainmenu li a{padding: 15px 40px; font-size: 13px; line-height: 20px; font-weight: 400; text-transform: uppercase; color: #ffffff; display: block; letter-spacing: 2px; text-align: center;}
.nav .mainmenu li a:hover, .nav .mainmenu li.current a{background: #09296f; color: #ffffff;}
.nav .mainmenu li a span{position: relative;}
.nav .mainmenu li a span:after, .nav .mainmenu li a span:before{position: absolute; top: 50%; content: ''; width: 0; height: 1px; background: orange; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
.nav .mainmenu li a span:after{left: 100%;}
.nav .mainmenu li a span:before{right: 100%;}
.nav .mainmenu li a:hover span:after{left: 110%; width: 20px;}
.nav .mainmenu li a:hover span:before{right: 110%; width: 20px;}

.hamburgermenu{position: absolute; opacity: 0; visibility: hidden;}

.footer{position: fixed; left: 0; bottom: 0; z-index: 1; width: 300px; padding: 40px;}
.social-menu{width: 100%; position: relative; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center;}
.social-menu li{margin: 0; padding: 0;}
.social-menu li + li{margin-left: 10px;}
.social-menu li a{padding: 5px; display: block; width: 40px; height: 40px; border: 1px solid #09296f; font-size: 24px; line-height: 30px; text-align: center; color: #ffffff;}
.social-menu li a:hover{color: #09296f; border: 1px solid #ffffff; background: #ffffff;}

.container{width: 100%; padding-left: 300px; position: relative;}
.hero-banner{width: 100%; height: 100vh; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center; -webkit-align-items: center; align-items: center; position: relative;}
.banner-bg{background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.banner-bg:after{width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: block; content: ''; opacity: 0.65; background: rgba(7,23,55,.7);}
.banner-content{max-width: 480px; width: 100%; margin: 0 auto; position: relative; z-index: 2; text-align: center;}
.profile-img{width: 200px; height: 200px; overflow: hidden; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 5px solid orange; display: block; margin: 0 auto; margin-bottom: 10px;}
.profile-img img{width: 100%;}
.banner-content h1{color: #ffffff;}
.banner-content h6{font-size: 24px; line-height: 30px; font-weight: 700; color: orange; letter-spacing: 2px; overflow: hidden; white-space: nowrap; -webkit-animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite; animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite; text-align: center; display: inline-block;}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width:100%;}
}
@-moz-keyframes typing {
    from { width: 0 }
    to { width:100%;}
}
@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
.down-arrow{position: absolute; left: 50%; bottom: 40px; display: block; font-size: 30px; font-weight: 700; color: #ffffff; cursor: pointer; z-index: 2; margin-left: -9px; -webkit-animation: bounce 2s infinite; animation: bounce 2s infinite; }
.down-arrow:hover{color: orange;}


.full-view{width: 100%; display: block; min-height: 100vh;}
.fw{padding: 60px; display: block;}
.fw h2{padding-bottom: 15px; margin-bottom: 40px; position: relative;}
.fw h2:after{width: 80px; height: 5px; position: absolute; left: 0; bottom: 0; content: ''; background: orange; display: block;}


.about-image-with-content{width: 100%; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: flex-start; align-items: flex-start}
.about-img{width: 360px; display: block; border: 5px solid #041230; padding: 5px;}
.about-content{width: calc(100% - 410px); text-align: justify;}
.about-content h3{padding-bottom: 20px;}

.about-experience{padding-top: 50px;}
.about-experience h3{padding-bottom: 20px;}
.skill-bar-wrap{width: 100%; display: block;}
.es-bar{width: 100%; height: 40px; display: block; position: relative; background: #f6f7fd; overflow: hidden;}
.es-bar + .es-bar{margin-top: 15px;}
.es-bar-progress{position: absolute; left: 0; top: 0; height: 100%; display: block;}
.es-bar h6{position: absolute; left: 0; top: 0; font-size: 14px; line-height: 40px; display: block; padding: 0 20px; color: #ffffff; font-weight: 400;}
.es-bar h6 span{font-weight: 700; text-transform: uppercase; letter-spacing: 2px;}

.service-list{margin-left: -20px; margin-right: -20px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;}
.service-list li{margin: 20px; background: #ffffff; width: calc(25% - 40px); -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); position: relative; top: 0;}
.service-list li .sl-inn{padding: 32px;}
.ser-ic{width: 60px; height: 60px; display: block; border: 2px solid orange; text-align: center; color: orange; font-size: 40px; line-height: 60px; font-weight: 700; margin-bottom: 20px; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
.service-list li:hover{-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.4); -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.4); box-shadow: 0 0 15px 0 rgba(0,0,0,0.4); top: -10px;}
.service-list li:hover .ser-ic{border-color: #041230; color: #041230;}
.service-list li .sl-inn h4{margin-bottom: 10px;}
.service-list li .sl-inn p{text-align: justify;}

.portfolio-list{width: 100%; display: block;}
.button-group{width: 100%; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 20px;}
.button-group .button{display: block; margin: 0; cursor: pointer; outline: 0; line-height: 38px; height: 40px; text-transform: uppercase; letter-spacing: 2px; min-width: 140px;}
.button-group .button + .button{margin-left: 15px;}
.button-group .button.is-checked{background: #041230; color: #ffffff; border-color: #041230;}

.portfolio-list .grid{margin-left: -20px; margin-right: -20px;}
.portfolio-list .grid .element-item{width: 25%; padding: 20px;}
.portfolio-list .grid .element-item a{width: 100%; display: block; position: relative; -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5); box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);}
.portfolio-list .grid .element-item a img{width: 100%; height: auto; display: block;}
.portfolio-list .grid .element-item a:after{width: 100%; height: 100%; opacity: 0.3; display: block; background: #041230; position: absolute; left: 0; top: 0; content: ''; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s;}
.elm-overlay{width: 100%; height: 100%; position: absolute; left: 0; top: 0; opacity: 0; -webkit-transition: all 0.4s ease-in-out 0s; -moz-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; z-index: 1; display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center; -webkit-align-items: center; align-items: center;}
.elm-overlay h5{font-size: 22px; line-height: 26px; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; color: #ffffff; text-align: center; width: 100%; margin-bottom: 15px;}
.portfolio-list .grid .element-item:hover a:after{opacity: 0.7;}
.portfolio-list .grid .element-item:hover .elm-overlay{opacity: 1;}


.contact-with-form{width: 100%; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap;}
.contact-info{width: 400px; padding-right: 40px;}
.contact-info h6{font-size: 16px; line-height: 24px; font-weight: 400; display: block; letter-spacing: 1px; margin-bottom: 12px; position: relative; padding-left: 100px; font-style: italic;}
.contact-info h6 strong{font-weight: 700; width: 100px; display: block; position: absolute; left: 0; top: 0;}
.contact-form{width: calc(100% - 410px); max-width: 400px;}
.contact-form form{width: 100%; display: block;}
.cfield{width: 100%; display: block; margin-bottom: 20px;}
.cfield input[type="text"], .cfield input[type="email"], .cfield input[type="phone"]{width: 100%; display: block; padding: 0 20px; border: 2px solid orange; background: #ffffff; color: #041230; font-size: 14px; line-height: 50px; height: 54px; outline: 0; font-weight: 400;}
.cfield textarea{width: 100%; display: block; padding: 14px 20px; border: 2px solid orange; background: #ffffff; color: #041230; font-size: 14px; line-height: 22px; height: 180px; outline: 0; font-weight: 400; resize: none;}






.hamburgermenu{
  width: 40px;
  height: 30px;
  position: relative;
  margin: 10px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburgermenu span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

.hamburgermenu span:nth-child(1) {
  top: 0px;
}

.hamburgermenu span:nth-child(2),.hamburgermenu span:nth-child(3) {
  top: 14px;
}

.hamburgermenu span:nth-child(4) {
  top: 28px;
}

.hamburgermenu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburgermenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburgermenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburgermenu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}








 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.about-img{width: 30%;}
	.about-content{width: 65%;}
	.service-list{margin-left: -15px; margin-right: -15px;}
	.service-list li{width: calc(50% - 30px); margin: 15px;}
	.button-group .button + .button{margin-left: 5px;}
	.button-group .button{min-width: 100px;}
	.portfolio-list .grid{margin-left: -10px; margin-right: -10px;}
	.portfolio-list .grid .element-item{width: 33.3%; padding: 10px;}
	.contact-info{width: 100%; padding-right: 0; padding-bottom: 40px;}
	.contact-form{width: 100%;}
}
@media only screen and (max-width: 1024px) {
	h1{font-size: 30px; line-height: 36px; letter-spacing: 3px;}
	h2{font-size: 24px; line-height: 30px; letter-spacing: 2px;}
	h3{font-size: 20px; line-height: 26px; letter-spacing: 2px;}
	h4{font-size: 18px; line-height: 24px; letter-spacing: 2px;}
	
	.header{width: 100%; height: auto; padding: 15px; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; justify-content: space-between;}
	.logo-box{border-bottom: 0px solid #09296f; padding: 0; width: 50px;}
	.logo{max-width: 100%;}
	.nav{padding: 0; height: auto; position: absolute; left: 0; top: 90%; width: 100%; background: #041230; opacity: 0; visibility: hidden;}
	.nav.open{opacity: 1; visibility: visible; top: 100%;}
	.container{padding-left: 0;}
	.hamburgermenu{position: relative; opacity: 1; visibility: visible;}
	
	.footer{position: relative; width: 100%; padding: 15px; background: #041230;}
	
	.profile-img{width: 150px; height: 150px;}
	.banner-content h6{font-size: 18px; line-height: 24px;}
	
	.fw{padding: 120px 15px 40px;}
	.fw h2{padding-bottom: 10px; margin-bottom: 25px; position: relative;}
	.fw h2:after{width: 60px; height: 3px;}
	
	.about-img{width: 100%;}
	.about-content{width: 100%; padding-top: 25px; text-align: left;}
	.about-content h3{padding-bottom: 15px;}

	.about-experience{padding-top: 40px;}
	.about-experience h3{padding-bottom: 15px;}
	.es-bar{height: 32px;}
	.es-bar + .es-bar{margin-top: 10px;}
	.es-bar h6{font-size: 12px; line-height: 32px; display: block; padding: 0 10px;}
	.es-bar h6 span{letter-spacing: 1px;}
	
	.service-list{margin-left: 0; margin-right: 0;}
	.service-list li{margin: 0; width: 100%;}
	.service-list li + li{margin-top: 20px;}
	.service-list li .sl-inn{padding: 15px;}
	.ser-ic{width: 50px; height: 50px; display: block; font-size: 36px; line-height: 50px; font-weight: 700; margin-bottom: 15px;}
	.service-list li .sl-inn p{text-align: left;}

	.button-group{-webkit-justify-content: space-between; justify-content: space-between;}
	.button-group .button{min-width: 47%; margin-bottom: 10px;}
	.button-group .button + .button{margin-left: 0;}
	.portfolio-list .grid{margin-left: 0; margin-right: 0;}
	.portfolio-list .grid .element-item{width: 100%; padding: 0; margin-bottom: 20px;}
	.elm-overlay h5{font-size: 18px; line-height: 22px; margin-bottom: 15px;}
	
	.contact-info{width: 100%; padding-right: 0;}
	.contact-info h6{font-size: 14px; line-height: 22px; padding-left: 90px;}
	.contact-info h6 strong{width: 90px;}
	.contact-form{width: 100%;}
	.cfield{width: 100%; display: block; margin-bottom: 15px;}
	.cfield input[type="text"], .cfield input[type="email"], .cfield input[type="phone"]{padding: 0 15px; border: 2px solid orange; font-size: 14px; line-height: 40px; height: 44px;}
	.cfield textarea{padding: 9px 15px; font-size: 14px; line-height: 22px; height: 140px;}



}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


